<mat-card>
  Welcome to ngSeattle, {{user}}!
  <form>
  <mat-list>
  <mat-list-item>
    <mat-input-container class="full-width">
      <input matInput ngModel placeholder="Enter the secret word" name="secretWord" required>
    </mat-input-container>
  </mat-list-item>
  <mat-list-item>
    <mat-checkbox ngModel name="invite"></mat-checkbox>&nbsp;Invite me to the Slack!
  </mat-list-item>
  <mat-list-item>
    <button mat-button (click)="update()">Update</button> <mat-progress-spinner *ngIf="updating"></mat-progress-spinner>
    <span *ngIf="status">
      {{status}}
    </span>
  </mat-list-item>
  </mat-list>
  </form>
</mat-card>
